*{
	margin: 0;
	padding: 0;
}

body{
	background: #262626 
}

.title{
	text-align: center;
	margin-top:200px;
	font-family: Arial;
	font-size: 160px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.2);
	background: url(https://vignette.wikia.nocookie.net/magicbook/images/2/21/1_%D0%9E%D0%B3%D0%BE%D0%BD%D1%8C.jpg/revision/latest/scale-to-width-down/620?cb=20180917181556&path-prefix=ru)repeat-x;
	background-clip: text;
	background-size: contain;
	animation: fire 13s linear infinite;
}

@keyframes fire{
	0%{
		background-position: left 0, top 0;
	}

	50%{
		background-position: left 150px, top -25px;
	}
	100%{
		background-position: left 300px top 0;
	}
}